name: Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Node install dependencies
        run: npm ci
      - name: Node build
        run: npm run build
      - name: LS
        run: ls -ls
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          author_email: kostya@yandex.ru
          author_name: Kostya Ten
          directory: ./build/
          repository: fastid/fastapi
