name: Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  BUILD_PATH: fastid/web

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Node install dependencies
        run: npm ci

      - name: Checkout fastid repo
        uses: actions/checkout@v3
        with:
          repository: fastid/fastapi
          path: fastid

      - name: Node build
        run: npm run build

      - name: LS
        run: cd fastid/ && ls -ls
